/* Estilos de la palabra del logo */
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Estilos generales */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* Estilos de los enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.img-logo {
    display: block;
    width: 5%;
    margin: left;
}

/* Estilos de la sección hero */
#hero {
    background-image: url('imagenes/hero.png');
    background-size: cover;
    color:_ rgb(12, 11, 11);
    text-align: center;
    padding: 150px 0;
}

.hero-content {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}

/* Estilos de la sección Acerca de */
#about {
    padding: 80px 0;
    text-align: center;
    background-color:#ffffff;
}

.about-content {
    height:400px;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto;
}

.about-content .card {
    background-color:#4e519e;
    box-shadow: 0 4px 8px 0 rgba(11, 11, 11, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.about-content li {
    margin-left: 10px;
    list-style-position:outside;
}
