/* Estilos generales */

body {
  font-family: verdana, geneva, tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos de la barra de navegación (nav) */

nav {
  background-color: aquamarine;
  color: rgb(4, 29, 51);
  display: flex;
  justify-content: space-between;
  padding: lrem;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li {
  text-decoration: none;
  color: rgb(84, 14, 150);
}

/* Estilos del texto e imágen del logo */

.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
    "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.img-logo {
  display: block;
  width: 15%;
  margin: left;
}

/* Estilos de la imágen de cabecera (hero) */

#hero {
  background-image: url();
  background-size: cover;
  color: blue;
  text-align: center;
  padding: 150px 0;
}

.hero-content {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}

/* Estilos de la sección Acerca de (about) */

#about {
  padding: 80px 0;
  text-align: center;
  background-color: aqua;
}

.about-contect {
  height: 400 px;
  display: grid;
  gap: 10 px;
  padding: 10px;
  grid-template-columns: auto auto auto;
}

.about-contect .card {
  background-color: aqua;
  box-shadow: 0 4px 8px rgb(rgb(0, 140, 255), rgb(0, 117, 117), rgb(47, 0, 255));
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.about-contect li {
  margin-left: 10px;
  list-style-position: outside;
}
