/*Estilos de la palabra del logo */
.logo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Estilos Generales */
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegacion */
nav{
    background-color: rgb(7, 7, 7);
    color: beige;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/*Estilos de los enlaces de navegacion*/
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
