/*Estilos Generales */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegacion (nav) */
nav {
    background-color: #333;
    color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items:center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color:brown
}

/* Estilos del texto e imagen del logo */
.logo {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

.img-logo {
    display: block;
    width: 5%;
    margin: left;
}

/* Estilos de la imágen de cabecera (hero) */

#hero {
    background-image: url("imagenes/hero.jpg");
    background-size: cover;
    color: rgb(12,11,11);
    text-align: center;
    padding: 150px 0;
}

.hero-content {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

/* Estilos de la sección Acerca de (about) */

#about {
    padding: 80px 0;
    text-align: center;
    background-color: aliceblue;
}

.about-countet{
    height: 400px;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto;


}

.about-content .card{
    background-color:rgb(32, 32, 218);
    box-shadow: 0 4px 8px 0 rgb(12,11,11);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;

}
 
.about-count li {
    margin-left: 10px;
    list-style-position: outside;

}